@import "~bootstrap/dist/css/bootstrap.min.css";
/* battleship board 9*9 */
body{
    background-image: url(https://wallpapercave.com/wp/wp9645599.jpg);
    background-size: cover;
}
#game{
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    width: 600px;
    margin:auto;
    padding: 10px;
}

h1 {
  font-size: 3em;
  text-align: center;
  color: white;
  background-color: rgb(14, 44, 71);
  padding: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 300px;
  margin: auto;
  border-radius: 10px;
  border: 3px solid rgb(102, 125, 255);
  margin-bottom: 50px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell:hover {
  background-color: #e1e1e1;
}
.cell:active {
  background-color: #d1d1d1;
  border-color: ivory;
}
.cellId {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.cellHit {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(221, 40, 40);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cellMiss {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(188, 188, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.showShips {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(238, 255, 0);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* button cool */

#showShips {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(238, 255, 0);
  margin: 50px;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  width: 200px;
  margin: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* cool board */
#shoots {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(252, 39, 39);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 50px;
  font-size: 20px;
  width: 350px;
  margin: auto;
  display: block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
#button {
  margin-top: 20px;
  margin: auto;
  display: flex;
  text-align: center;
}